<h2 class="dashboard-title">Investment Management Dashboard</h2>
<div class="dashboard-container">
@if(allMyInvestments.length > 0){
    <!-- Card 1 -->
    <div class="card">
      <h4>Total No. of Investments</h4>
      <p class="value">{{ totalInvestments }}</p>
    </div>
  
    <!-- Card 2 -->
    <div class="card">
      <h4>Highest Investment Value</h4>
      <!-- <p class="name">{{ topInvestment?.name }}</p> -->
      <p class="value">{{ topInvestment?.currentValue | currency:'INR' }}</p>
    </div>
  
    <!-- Card 3 -->
    <div class="card">
      <h4>Preferred Type of Investment</h4>
      <p class="value">{{topInvestment?.type}}</p>
      <!-- <ul class="top-list">
        <li *ngFor="let inv of topFiveInvestments">
          <span>{{ inv.name }}</span>
          <span class="amount">{{ inv.currentValue | currency:'INR' }}</span>
        </li>
      </ul> -->
    </div>  
}@else{
    <div>
        <p>{{message}}</p>
    </div>
}
</div>
  

  
  <!-- <div class="dashboard-container">
    
    <div class="card">
        <h4>Total Investments</h4>
        @if(totalInvestments > 0){
            <p class="value">{{ totalInvestments }}</p>
        }@else{
            <p>{{message}}</p>
        }
    </div>

   
        
    <div class="card">
        <h4>Top Investment</h4>
        @if(topInvestment != null){
            <p class="name">{{ topInvestment.name }}</p>
            <p class="value">₹{{ topInvestment.currentValue | currency:'INR' }}</p>
        }@else{
            <p>{{message}}</p>
        }   
    </div>


        
    <div class="card large">
        <h4>Top 5 Investments</h4>

        @if(topFiveInvestments.length > 0){
            <ul class="top-list">
                <li *ngFor="let inv of topFiveInvestments">
                    <span>{{ inv.name }}</span>
                    <span class="amount">{{ inv.currentValue | currency:'INR' }}</span>
                </li>
            </ul>
        }@else{
            <div>
                <p>{{message}}</p>
            </div>
        }
    </div>
  </div>
   -->