<h1 class="mainAppHeading">
  Hello World {{title }}
</h1>
<!-- <br>
<div style="display: flex; flex-direction: column; width: 450px; margin: 20px;" >

  <div style="display: flex; font-weight: bold; background: #f0f0f0; padding: 8px;">
    <div style="flex: 1;">ID</div>
    <div style="flex: 2;">Name</div>
    <div style="flex: 1;">Price</div>
  </div>

  <div *ngFor="let product of productList" style="display: flex; padding: 8px; border-bottom: 1px solid #ccc;">
    <div style="flex: 1;">{{product.id}}</div>
    <div style="flex: 2;">{{product.name | uppercase }}</div>
    <div style="flex: 1;">{{product.price | currency: 'INR' }}</div>
  </div>
</div>
<br>
<div style="display: flex; flex-direction: column; width: 450px; margin: 20px;" >

  <div style="display: flex; font-weight: bold; background: #f0f0f0; padding: 8px;">
    <div style="flex: 1;">ID</div>
    <div style="flex: 2;">Name</div>
    <div style="flex: 1;">Role</div>
  </div> -->

  <!-- <div *ngFor="let user of userList" style="display: flex; padding: 8px; border-bottom: 1px solid #ccc;">
    <div style="flex: 1;">{{user.id}}</div>
    <div style="flex: 2;">{{user.name}}</div>
    <div style="flex: 1;">{{user.role}}</div>
  </div> -->
  <!-- @for (user of userList; track user.id){
    <div style="display: flex; padding: 8px; border-bottom: 1px solid #ccc;">
      <div style="flex: 1;">{{user.id}}</div>
      <div style="flex: 2;">{{user.name}}</div>
      <div style="flex: 1;">{{user.role}}</div>
    </div>
  }
  <br>
  <div *ngIf="status">
    <p>{{message | uppercase}}</p>
  </div>
  <br>
  @if(status1){
    <div>
      <p>{{message}}</p>
    </div>
  }@else{
    <div>
      <p>{{elseMessage}}</p>
    </div>
  }
</div>

<br>

@if(productList.length > 0) {
  <div style="display: flex; flex-direction: column; width: 450px; margin: 20px;" >

    <div style="display: flex; font-weight: bold; background: #f0f0f0; padding: 8px;">
      <div style="flex: 1;">ID</div>
      <div style="flex: 2;">Name</div>
      <div style="flex: 1;">Price</div>
    </div>
  
    <div *ngFor="let product of productList" style="display: flex; padding: 8px; border-bottom: 1px solid #ccc;">
      <div style="flex: 1;">{{product.id}}</div>
      <div style="flex: 2;">{{product.name | uppercase }}</div>
      <div style="flex: 1;">{{product.price | currency: 'INR' }}</div>
    </div>
  </div>
}@else{
  <div>
    <p>
      {{elseMessage}}
    </p>
  </div>
}

<br> -->
<!-- <input type="button" value="Click Here" (click)="printMessage()"> -->


<app-add-product></app-add-product>
<app-show-all-products></app-show-all-products>
<app-find-product></app-find-product>

<!-- <br>  <button (click)="printMessage()">Click Here</button>  -->