<div class="form-container">
    <h2>Sign up</h2>
    
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div>
            <label>Name</label>
            <input type="text" formControlName="name"/>
        </div>
        <div>
            <label>Email</label>
            <input type="email" formControlName="email"/>
        </div>
        <div>
            <label>Gender</label>
            <label><input type="radio" formControlName="gender" value="male"/>Male</label>
            <label><input type="radio" formControlName="gender" value="female"/>Female</label>
            <label><input type="radio" formControlName="gender" value="other"/>Other</label>
        </div>
        <div>
            <label>Phone</label>
            <input type="tel" formControlName="phone"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" formControlName="password"/>
        </div>
        <div>
            <label>Role:</label>
            <select formControlName="role">
                <option value="">Select Role</option>
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <button type="submit" >Add Investment</button>
    </form>

    <!-- General form-level error message -->
    @if(signUpForm.invalid && signUpForm.touched){
        <div class="error">
            Please fill out all fields correctly.
        </div>
    }
</div>