<p>find-product works!</p>


<div>
    <fieldset>
        <legend>Add New Product</legend>
        <form>
            <label for="productId">Product Id:</label>
            <input type="number" id="productId" [(ngModel)]="pid" name="id">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="number" id="pId"><br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" (click)="findProductDetails();" value="Find Product">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </form>
    </fieldset>
</div>

@if(product.length > 0) {
    <div style="display: flex; flex-direction: column; width: 450px; margin: 20px;" >
  
      <div style="display: flex; font-weight: bold; background: #f0f0f0; padding: 8px;">
        <div style="flex: 1;">ID</div>
        <div style="flex: 2;">Name</div>
        <div style="flex: 1;">Price</div>
      </div>
    
      <div *ngFor="let product of product" style="display: flex; padding: 8px; border-bottom: 1px solid #ccc;">
        <div style="flex: 1;">{{product.id}}</div>
        <div style="flex: 2;">{{product.name | uppercase }}</div>
        <div style="flex: 1;">{{product.price | currency: 'INR' }}</div>
      </div>
    </div>
  }@else{
    <div>
      <p>
        Test
      </p>
    </div>
  }