<header class="header">
  <nav>
    <a routerLink="/">My Dashboard</a>
    <a routerLink="/investments">View My Investments</a>
    <a routerLink="/fresh-investments">Fresh Investment</a>
    <a routerLink="/find-my-investment">Find My Investment</a>
    <a routerLink="/users">Sign Up</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<!-- <app-investments></app-investments> -->
<!-- <app-fresh-investments></app-fresh-investments> -->

<footer class="footer">
  All Rights Reserved
</footer>